_auth = c29ubnkucmFkaWNhbEBnbWFpbC5jb206Y21WbWRHdHVPakF4T2pFM05EQXdOREk1T0RjNmNHdHNjbXRZUXpOSU1rdFJOWEF4WldwTlZYbDFNWE5aVDNWcg==
email = sonny.radical@gmail.com
always-auth = true
registry=https://alwaystilted2.jfrog.io/artifactory/api/npm/npm-repository-npm/

